* {
  padding: 0;
  margin: 0;
}
:root {
  --primary-color: rgb(230, 230, 230);
  --secondary-color: black;
  --neutral-color: white;
  --hover-color: #777;
  --input-color: rgb(221, 220, 220);
}
[data-theme="dark"] {
  --primary-color: rgb(27, 27, 27);
  --secondary-color: rgb(255, 255, 255);
  --neutral-color: rgb(59, 59, 59);
  --hover-color: rgb(221, 220, 220);
  --input-color: rgb(221, 220, 220);
}
.wrapper {
  padding-top: 70px;
}
body {
  background-color: var(--primary-color);
  font-family: "Source Sans Pro", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: var(--secondary-color);
}

/************* HEADER ***************/
.header {
  position: fixed;
  width: 100%;
  opacity: 1;
}
.header-top {
  background: var(--primary-color);
  display: flex;
  justify-content: space-between;
  padding: 20px 30px !important;
}
.logo {
  margin-top: -4px;
}
.logo-img {
  width: 100px;
}
.logo a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 26px;
  font-weight: 900;
}

.menu-toggle {
  cursor: pointer;
}
.bars-text {
  box-sizing: border-box;
}
.bars {
  width: 35px;
  margin: 5px 0px;
  height: 4px;
  max-height: 4px;
  border-radius: 4px;
  background-color: var(--secondary-color);
}

.header nav ul {
  background: var(--primary-color);
  position: fixed;
  height: auto;
  top: 80px;
  left: 100%;
  border-top: 0;
  transition: 0.5s;
  list-style: none;
  margin-top: -8px;
  padding-top: 80px;
  width: 50%;
  height: 100vh;
}
.header nav ul.active {
  left: 50%;
}
.header nav ul li {
  padding: 10px 0;
  cursor: pointer;
  text-align: center;
}

.header nav ul li a {
  color: var(--secondary-color);
  text-decoration: none;
}

.animation {
  width: 0%;
  margin: auto;
  margin-top: 5px;
  background: var(--secondary-color);
  transition: 0.5s all;
  height: 4px;
  max-height: 4px;
}
.header nav ul li:hover .animation,
.header nav ul li.actived .animation,
.header nav ul li:hover a {
  color: var(--hover-color);
  width: 100px;
}

/****************** BODY ******************/
/* BODY SECTION 1 */
.section-1 {
  padding: 60px 0;
}
.section-1-inner {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.section-1-h3 {
  margin-bottom: 40px;
  color: black;
}
.section-1-h1 h1 {
  margin-bottom: 50px;
  font-size: 40px;
  line-height: 55px;
  font-weight: 800;
  color: #777;
}
.section-1-submit {
  margin-bottom: 35px;
}

.section-1-input {
  margin-bottom: 15px;
}
.cta-input,
.section-1-submit input {
  height: 50px;
  border: 1px black solid;
  border-radius: 30px;
  width: 85%;
}
.cta-input {
  padding-left: 20px;
}
.section-1-submit input {
  cursor: pointer;
  background: black;
  color: white;
  transition: 0.4s all;
}
.section-1-text {
  color: #777;
}
.section-1-submit input:hover {
  background: rgba(42, 40, 40, 0.938);
}

/* *****************SECTION 2********** */
.section-2 {
  padding: 40px 0;
  z-index: 30;
}
.section-2-grid {
  /* width: 370px; */
  margin: 0 auto;
}
.section-2-grid-container {
  overflow: hidden;
  height: 400px;
}
.section-2-grid-container div {
  height: 400px;
  position: relative;

  overflow: hidden;
  /* width: 370px; */

  color: var(--neutral-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-transition: all 0.3s ease-in-out;
  /* cursor: pointer; */
}
.section-2-grid-container div:hover {
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
  -webkit-transition: all 0.3s ease-in-out;
}

.section-2-grid-text {
  position: relative;
}
.section-2-grid-text h6 {
  position: absolute;
  top: 50px;
  margin-bottom: 20px;
}
.section-2-grid-text h5 {
  font-size: 1em;
  position: absolute;
  bottom: 50px;
}
.section-2-grid-text h5 a {
  color: var(--neutral-color);
  text-decoration: none;
}
.section-2-grid-text p {
  font-size: 3.5em;
  margin-bottom: 100px;
  text-align: center;
}

/* **************SECTION 3********************/
.section-3 {
  background-color: var(--neutral-color);
  padding: 40px 0;
}
.section-3-container {
  width: 320px;
  margin: 0 auto;
}
.section-3-top-image-container {
  width: 100%;
}
.section-3-top-image {
  width: 100%;
  /* height: 250px; */
}
.section-3-bottom {
  text-align: center;
  font-size: 25px;
  line-height: 35px;
  padding: 80px 15px;
  color: var(--secondary-color);
  font-weight: 600;
  background-position: center top;

  background-repeat: no-repeat;
  margin-top: 30px;
}

/***************FOOTER ****************/
.footer {
  padding: 20px 0;
  background-color: var(--primary-color);
}

.footer-links {
  display: flex;
  font-size: 17px;
}

.footer-links > div {
  display: flex;
}
.footer-links div {
  margin-left: 7px;
  padding: 6px 0;
}
.footer-links div a {
  text-decoration: none;
  color: var(--secondary-color);
}
.footer-links div a:visited {
  color: var(--hover-color);
}
.copyright {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.copyright-link {
  font-size: 22px;
}
/* ABOUT PAGE */
.about-name {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: var(--neutral-color);
}
.category_name {
  margin: 0 auto;
  margin-bottom: 10px;
}
.about-name h1 {
  padding: 10px 0;
}
.about-name p,
.articles_search p {
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 20px;
}
.about-picture {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
}
.about-picture > div {
  cursor: pointer;
  height: 210px;
  min-height: 210px;
  max-height: 210px;
  background: url("img-2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
  transition: all 0.5s ease-in;
}
.about-picture > div:hover {
  border: 0;
  opacity: 0.7;
  transform: scale(0.98);
}
.about-picture-image {
  width: 80%;
  padding: 0 10%;
}
.about-content {
  background: var(--neutral-color);
  padding: 20px 20px;
}
.about-content p {
  padding: 20px 0;
  font-size: 19px;
  color: var(--secondary-color);
  line-height: 30px;
}

/* ARTICLES */
.articles_input {
  display: inline-block;
  position: relative;
}
.articles_input button {
  position: absolute;
  right: 2%;
  top: 14px;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.articles_search {
  padding: 70px 0;
  display: flex;
  justify-content: center;
  background: var(--neutral-color);
}
.articles_input {
  width: 95%;
}
.articles_input input {
  height: 40px;
  border: none;
  border-bottom: 2px var(--secondary-color) solid;
  background-color: transparent;
  outline: none;
  width: 100%;
  font-size: 21px;
  padding-left: 5px;
}

.articles_search_div {
  width: 80%;
  text-align: center;
}
.articles_section {
  padding-bottom: 150px;
  padding-top: 40px;
}

/* category */
.category-container {
  background: var(--neutral-color);
  width: 90%;
  margin: 0 auto;
  padding-bottom: 50px;
  color: var(--secondary-color);
}
.category-container h1 {
  font-size: 3.5em;
}
.articles_container {
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
}

.category_section {
  border-radius: 5px;
  margin: 20px 0;
}

.category_section a {
  text-decoration: none;
  color: var(--secondary-color);
}
.category_section a:hover {
  color: var(--hover-color);
}

.category_img {
  width: 100%;
  height: 260px;
}
.category_img img {
  width: 100%;
  height: 200px;
}
.category_info {
  padding: 7px;
  background: var(--primary-color);
  width: 100%;
}
.category_name h3 {
  font-size: 2.4em;
  color: var(--hover-color);
  margin-bottom: 10px;
}
.category_name a {
  font-size: 30px;
  color: var(--hover-color);
}

/* LOGIN PAGE */

.login-body {
  width: auto;
  padding: 50px 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.article-body {
  width: 90%;
  padding: 50px 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.article-body > div {
  width: 100%;
}
.field {
  position: relative;
  margin-bottom: 20px;
}
.field button {
  position: absolute;
  right: 5%;
  top: 42px;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.field .passwordBtn {
  position: absolute;
  right: 5%;
  top: 53px;
}
.field h6 {
  padding: 10px 0;
}
.field .submit_image {
  position: absolute;
  right: 7.5%;
  top: 88px;
  border: none;
  background-color: var(--secondary-color);
  outline: none;
  cursor: pointer;
  color: var(--neutral-color);
  padding: 0px 13px;
  border-radius: 5px;
  width: auto;
  transition: 0.3s;
}

.copy_image {
  border: none;
  background-color: var(--secondary-color);
  outline: none;
  cursor: pointer;
  color: var(--neutral-color);
  padding: 12px 13px;
  border-radius: 5px;
  margin-left: 10px;
  transition: 0.3s;
}
.field .submit_image:hover,
.copy_image:hover {
  background-color: var(--hover-color);
}
.linkForImage {
  height: 40px;
  width: 77%;
  border-radius: 5px;
  border: 2px solid var(--hover-color);
  padding-left: 10px;
  box-sizing: border-box;
  background: var(--input-color);
  color: black;
}
.link_picture_article {
  padding: 20px 0;
}
.field label {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;

  height: 40px;
  cursor: pointer;
}
::-webkit-input-placeholder {
  padding-left: 10px;
  font-size: 16px;
  color: var(--neutral-color) !important;
}

.field input {
  height: 40px;
  width: 97%;
  border-radius: 5px;
  border: 2px solid var(--hover-color);

  padding-left: 10px;
  box-sizing: border-box;
  background: var(--input-color);
  color: black;
}

textarea {
  width: 94%;
  border-radius: 5px;
  border: 2px solid var(--input-color);
  margin-right: 2%;
  padding-left: 10px;
  box-sizing: border-box;
}
.login-header {
  padding: 30px 0;
  padding-bottom: 20px;
  text-align: center;
  word-spacing: 5px;
  font-size: 1.7em;
  font-weight: 700;
  color: black;
}
.login-header span {
  margin: 0 6px;
}
.login-center {
  background-color: var(--neutral-color);
  padding: 50px 15px;
}
.submitBox {
  display: flex;
  justify-content: space-between;
  text-align: right;
  width: 97%;
}

.submitBtn,
.submitButton {
  padding: 7px 18px;
  margin-right: -1.5%;
  color: var(--neutral-color);
  border-radius: 3px;
  background: var(--secondary-color);
  border: 0;
  cursor: pointer;
  transition: 0.5s;
}

.submitButton {
  background: var(--secondary-color);
  border: 0;
  padding: 10px;
}
.submitBtn:hover,
.submitButton:hover {
  background: var(--hover-color);
}
.editButton {
  padding: 7px 18px;
  border-bottom: 3px solid var(--secondary-color);
  background: var(--secondary-color);
  transition: 0.5s;
  color: var(--neutral-color);
}
.editButton:hover {
  background-color: var(--hover-color);
}
.editBtn {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

input[type="file"] {
  display: none;
}
.markdown {
  color: black;
}
.markdown img {
  width: 100%;
}
.profileLabel {
  color: var(--neutral-color);
  height: 30px;
  width: 60%;
  padding: 5px 30px;
  border-radius: 6px;
  background-color: var(--hover-color);
  margin-top: 30px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.progressbar {
  width: 70%;

  background: var(--hover-color);
  height: 7px;
  min-height: 7px;
  margin-bottom: 30px;
  border-radius: 3px;
  margin-left: 5px;
  display: none;
}

/* add article */
.add_article {
  padding: 50px 30px;
}
.type_name {
  padding: 30px 0;
  text-align: left;
  background: var(--neutral-color);
}
.add_article_button {
  padding: 10px 15px;
  color: var(--neutral-color);
  border: 0;
  background: var(--secondary-color);
  transition: 0.5s;
  border-radius: 3px;
  cursor: pointer;
}
.add_article_button a {
  text-decoration: none;
  color: var(--neutral-color);
}
.add_article_button:hover {
  background: var(--hover-color);
}

/* instructions */

.instructions_layout {
  padding: 20px 5px;
  position: fixed;
  top: calc(50% - 250px);
  z-index: 99999;
  height: 500px;
  width: 90%;
  margin: 0 auto;
  overflow-y: scroll;
  padding: 0 20px;
  box-sizing: border-box;
  border: 2px solid var(--secondary-color);
  background: var(--neutral-color);
}
.instruction_button {
  padding: 20px 5px;
  position: fixed;
  top: 15%;
  right: 10%;
  z-index: 9999999;
  border-radius: 50%;
  padding: 7px 10px;
  /* box-sizing: border-box; */
  border: 2px solid var(--secondary-color);
  background: var(--neutral-color);
  cursor: pointer;
}
.instruction_header {
  border-bottom: 2px solid var(--secondary-color);
  padding: 14px 0;
}
.instructions_layout > p {
  padding: 20px 0;
}
.instructions_layout > div {
  padding: 20px 0;
}
.instructions_layout > div p {
  padding: 5px 0;
}
.codeDiv {
  background-color: var(--secondary-color);
  padding: 15px;
  color: var(--neutral-color);
  margin: 10px 0;
}
/* MEDIA QUERIES */
@media (max-width: 500px) {
  .login-body {
    width: 90%;
  }
  .article-body {
    width: 100%;
  }

  .section-3-container {
    width: 90%;
  }
  .section-2-grid-container div {
    width: 100%;
    height: 400px;
    color: var(--neutral-color);
  }

  .section-2-grid {
    width: 100%;
  }
  .section-1-inner {
    width: 95%;
    margin: 0 auto;
  }
}
@media (min-width: 950px) {
  .instructions_layout {
    width: 600px;
  }
  .wrapper {
    padding-top: 100px;
  }

  .logo a {
    letter-spacing: 10px;
  }
  .upload {
    width: 400px;
  }
  .section-1-input-container div {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .articles_section {
    width: 80%;
    margin: 0 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }
  .topics {
    width: 90%;
    margin: 0 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }
  .category_name {
    margin: 0 auto;
    margin-bottom: 100px;
  }
  .category_section {
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
  }
  .category_info {
    position: absolute;
    bottom: 0px;
  }
  .category_link {
    position: absolute;
    bottom: 60px;
    width: 100%;
  }
  .section-1-input {
    width: 80%;
  }
  .section-1-submit input {
    width: 140px;
    text-align: center;
    /* padding-left: 0; */
    /* padding: 20px 40px; */
    margin-left: -20px;
  }
  .section-2-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    width: 100%;
  }
  .section-2-grid-container div,
  .section-2-grid-container {
    width: 100%;
    height: 600px;
  }
  .section-2-grid-text h4 {
    margin-bottom: 50px;
  }
  .section-2-grid-text p {
    margin-bottom: 270px;
  }
  .section-1-inner {
    width: 700px;
  }
  .section-3-container {
    width: 100%;
    display: flex;
    padding: 50px;
    box-sizing: border-box;
  }
  .section-3-top-image-container {
    margin: 30px 0;
  }
  .section-3-top-image {
    width: 100%;
    height: auto;
  }
  .section-3-bottom {
    margin-left: 30px;
    padding: 50px 70px;
    margin-top: 0;
  }
  .header-top {
    padding: 30px 0;
  }
  .header nav ul li a {
    color: var(--secondary-color);
  }
  .header nav ul {
    height: auto;
    padding: 0px 10px;
    position: static;
    margin-top: -60px;
    display: flex;
    background-color: transparent;
    float: right;
  }
  /* s */
  .header nav ul li {
    padding: 0 10px;
  }
  .menu-toggle {
    display: none;
  }
  .logo {
    font-size: 45px;
  }
  .header nav ul li:hover .animation,
  .header nav ul li.actived .animation {
    width: 40px;
    background: var(--secondary-color);
  }
}
@media (min-width: 1200px) {
  .box,
  .header {
    width: 1170px;
    margin: 0 auto;
  }
  .box {
    background-color: var(--neutral-color);
  }
}
@media (min-width: 1400px) {
  .App {
    width: 1400px;
    margin: 0 auto;
  }

  .footer-links > div {
    display: block;
  }

  .footer-information-links {
    /* writing-mode: tb-rl; */
    /* text-orientation: sideways-right; */
    transform: rotate(-90deg);
    margin-top: 80px;
  }
  .footer-social-media-links:first-child,
  .footer-information-links:first-child {
    margin-top: 10px;
  }

  .footer-social-media-links:first-child {
    margin-top: 30px;
  }
  .footer-social-media-links {
    transform: rotate(-90deg);

    font-size: 22px;
  }
  .footer-social-media-links:last-child {
    margin-top: 70px;
  }
  .footer-information-links:last-child {
    margin-top: 110px;
  }
  .footer {
    position: relative;
  }
  .footer-links {
    position: fixed;
    width: 1400px;
    margin-left: -150px;
    top: 280px;
    z-index: 999999;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
    height: 280px;
    transition: 0.5s all;
  }
  .footer-links-two {
    background-color: transparent;
    width: 100%;
    justify-content: left;
    transition: 0.5s all;
    top: 0px;
    margin-left: 0;
    height: auto;
  }
  .footer-links-two > div {
    display: flex;
  }
  .footer-links-two .footer-information-links,
  .footer-links-two .footer-social-media-links {
    transform: rotate(0deg);
    margin: 0;
    margin-left: 30px;
  }
  .footer-links-two .footer-social-media-links {
    font-size: 15px;
  }
}
.footer-social-media-links a,
.footer-information-links a,
.footer-information-links span {
  color: var(--secondary-color) !important;
}
.footer-social-media-links:hover a,
.footer-information-links:hover a,
.footer-information-links:hover span {
  color: var(--hover-color) !important;
}

/*************** article page ************/
.articlePage {
  margin: 60px 20px;
  background: var(--neutral-color);
  padding: 0 7px;
}
.articlePage h1 b {
  text-align: center;
  padding: 30px 0;
}
.articleInfo {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}
.articleContent {
  padding-bottom: 40px;
  font-size: 1.2em;
}
/* add article */
input[type="radio"] {
  width: 20px;
  height: 20px;
}
.radioContainer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 15px auto;
  margin-bottom: 30px;
}
.radioContainer label {
  margin-top: -5px;
  font-size: 20px;
  margin-left: 7px;
}

/* SPINNER */
.lds-wrapper {
  background: var(--secondary-color);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.lds-text {
  margin-bottom: 30px;
  font-size: 23px;
  color: var(--neutral-color);
}
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 120px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 50px solid var(--neutral-color);
  border-color: var(--neutral-color) transparent var(--neutral-color)
    transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

/* theme switch */
em {
  margin-left: 10px;
  font-size: 1rem;
}
.theme-switch {
  display: inline-block;
  height: 30px;
  position: relative;
  width: 54px;
}

.theme-switch input {
  display: none;
}
.slider {
  background-color: #ccc;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.4s;
  position: absolute;
  cursor: pointer;
}
.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 22px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 22px;
}
input:checked + .slider {
  background-color: rgb(68, 65, 65);
}
input:checked + .slider:before {
  transform: translateX(22px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
/* link info */
.linkInfo {
  padding: 0 5px;
  text-align: right;
}
.linkInfo a {
  color: var(--secondary-color);
}
